


<form>
    <div class="row">
        <div class="col-md-4">
    <div class="form-group">
        <label for="announcementTitle">Title:</label>
        <input type="text" class="form-control" id="announcementTitle" name="announcementTitle" required>
    </div>

    <div class="form-group">
        <label for="announcementDate">Date:</label>
        <input type="date" class="form-control" id="announcementDate" name="announcementDate" required>
    </div>

    <div class="form-group">
        <label for="announcementDescription">Description:</label>
        <textarea class="form-control" id="announcementDescription" name="announcementDescription" rows="5" required></textarea>
    </div>

    <div class="form-group">
        <label for="pdfFile">PDF File:</label>
        <input type="file" class="form-control-file" id="pdfFile" name="pdfFile">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
