@model StudentManagementSystem.Models.Dtos.AdminLoginDto

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p></p>
<div class="container">
    <h1>Admin Login</h1>
    <p></p>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" asp-action="LoginAdmin">
                <div class="form-group">
                    <label asp-for="Phone" class="float-left">Phone:</label>
                    <p></p>
                    <div>
                        <input type="text" asp-for="Phone" class="form-control" required>
                    </div>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="float-left">Password:</label>
                    <div>
                        <input type="password" class="form-control" asp-for="Password" required>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <p></p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
