<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2>Personal Information</h2>

        <div class="row">
            <div class="col-md-4">
                <img src="[Photo URL]" class="img-fluid" alt="User Photo">
            </div>
            <div class="col-md-8">
                <div>
                    <p><strong>Name-Surname:</strong> [Name-Surname]</p>
                    <p><strong>E-mail:</strong> [E-mail]</p>
                    <p><strong>Phone:</strong> [Phone]</p>
                    <p><strong>Date of Birth:</strong> [Date of Birth]</p>
                    <p><strong>Address:</strong> [Address]</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
