@model StudentManagementSystem.Models.Course


<form method="post" asp-action="AddCourse">
  <div class="row">
   <div class="col-md-4">
    <div class="form-group">
        <label asp-for="Title">Course Title:</label>
        <input asp-for="Title" type="text" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="Day">Day:</label>
        <select asp-for="Day" class="form-control" required>
            <option value="" selected disabled>Select day</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Time">Time:</label>
        <input asp-for="Time" type="time" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
   </div>
  </div>
</form>

@{
    var days = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
}

<form method="post" asp-action="DeleteCourse">
<table class="table">
    <thead>
        <tr>
            <th>Select</th>
            @foreach (var day in days)
            {
                <th>@day</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var course in ViewBag.Courses)
        {
            <tr>
                <td>
                    <input type="checkbox" name="selectedCourses" value="@course.Id" />
                </td>
                <td>@course.Title</td>
                @foreach (var day in days)
                {
                    var courseTime = ""; 

                    foreach (var courseP in ViewBag.Courses)
                    {
                        if (courseP.Day == day && courseP.Title == course.Title)
                        {
                            courseTime = courseP.Time;
                            break;
                        }
                    }
                    <td>@courseTime</td>
                }
            </tr>
        }
    </tbody>
</table>
    <button type="submit" class="btn btn-danger">Delete Selected Courses</button>
</form>